/* Estilos CSS globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* Estilos CSS específicos para a página */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 24px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    height: 80%;
    width: 80%;
    position: relative;
    float: left;
}

section {
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    float: left;
}

aside {
    background-color: #f9f9f9;
    padding: 10px;
}

article {
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px; 
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}