body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

main {
    position: relative;
    margin-left: 25%;
    align-items: left;
    background-color: #fafafa;
    width: 70%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.service {
    position: absolute;
    float: left;
    left: 0;
    height: 100vh;
    background-color: #c0bdbd;
    width: 20%;
}
